<h1>Moje dostupnost</h1>

<card outlined style="max-width: min(600px, 100%)">
    <h4>Návod k používání</h4>

    <p>Klikej na čísla dnů v kalendáři níže pro změnu jejich hodnoty.</p>

    <!-- TODO: Měnit text podle pohlaví uživatele -->
    <button disabled>Nedostupný</button>
    <button disabled filled secondary>Nedokážu zjistit</button>
    <button disabled filled>Jistě dostupný</button>

    <p>Hodnota tvé dostupnosti v daný den je indikována barvou korespondujícího čísla podle infografiky výše.</p>
</card>

<template x-for="month in calendar.months">
    <section>
        <h4 x-text="month.name"></h4>
        <div class="month">
            <template x-for="(value, day) in month.days">
                <div class="day">
                    <button 
                        x-text="day + 1 + '.'"
                        :filled="value > 0"
                        :secondary="value == 1"
                        @click="month.days[day] = (value + 1) % 3"
                    ></button>
                </div>
            </template>
        </div>
    </section>
</template>

<style scoped>
    .month {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .day {
        width: 5rem;
        height: 5rem;
    }
</style>