<h1>Moje dostupnost</h1>

<section>
    <h4>Význam</h4>
    <button disabled>Ne</button>
    <button disabled filled secondary>Možná</button>
    <button disabled filled>Ano</button>
</section>

<template x-for="month in ['Červen', 'Červenec']">
    <section>
        <h4 x-text="month"></h4>
        <div class="month">
            <template x-for="day in 30">
                <div class="day" x-data="{ available: 2 }">
                    <button 
                        x-text="day + '.'"
                        :filled="available > 0"
                        :secondary="available == 1"
                        @click="available = (available + 1) % 3"
                    ></button>
                </div>
            </template>
        </div>
    </section>
</template>

<style scoped>
    .month {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .day {
        width: 5rem;
        height: 5rem;
    }
</style>